{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ titulo }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        {# <li>Your controller at <code><a href="{{ path('cliente') }}">Cliente</a></code></li>
        <li>Your controller at <code><a href="{{ 'C:/Demo/Curso/curso/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li> 
        <li>Your template at <code><a href="{{ 'C:/Demo/Curso/curso/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>#}
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                {% if cliente.edad > 30 %}
                    <tr>
                        <th scope="row">{{ cliente.id }}</th>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.edad }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="row">{{ cliente.id }}</th>
                        <td>{{ cliente.nombre|upper }}</td>
                        <td>{{ cliente.edad }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
